.bg-test1 {
  text-align: center;
}

.place-row {
  border-right: 1px solid #d6d6d6;
  height: 15px;
}
/* .place-row:nth-child(even) {background: #CCC}
.place-row:nth-child(odd) {background: bisque} */

.time-line {
  text-align: end;
  padding-right: 10px;
}
/* .time-line:nth-child(even) {background: #CCC}
.time-line:nth-child(odd) {background: bisque} */

.place {
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
}

.condensed {
  font-family: 'Roboto Condensed';
  line-height: normal;
}

.coloredd {
  padding: 5px;
  color: white;
  background-color: blueviolet;
  font-family: 'Roboto Condensed';
  line-height: normal;
}

.cbordered {
  border-bottom: 1px solid #d6d6d6;
}